<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="私人营养师定制现已在北京、上海、浙江、湖北、四川、三亚和长春等地建立服务网络。">
  <link rel="shortcut icon" href="http://www.rahcb.com/favicon.ico">
  <!--[if IE 6]>
    <%= javascript_include_tag "iepng" %>
  <![endif]-->
  <title>私人营养师定制</title>
  <%= stylesheet_link_tag "common", "index", "custom" %>
  <%= javascript_include_tag :defaults, "jquery.marquee", "index" %>
  <%= csrf_meta_tag %>
</head>
<body>
<!-- header -->
<div class="topbar" style="position: fixed; top: 0px; left: 0px; z-index: 3000; ">
   <div class="inner tc">
      <span class="arrow"></span>
      <span class="top_contact">专业私人营养师定制服务  400-009-8566</span>
      <ul class="topr">
         <li style="padding-right:0;margin-top:4px;margin-right:4px"><a href="http://www.rahcb.com/pages/weixin" target="_blank"><img src="/images/rah/icon_weixin.png" alt=""></a></li>
         <li style="padding-right:0;"><a href="http://e.weibo.com/rightathome" target="_blank"><i class="ico-weibo"></i></a></li>
         <li style="padding-right:0;"><a href="http://wpa.qq.com/msgrd?V=1&Uin=1395569330&Site=%C8%CA%90%DB%C8A&Menu=yes/" target="_blank"><i class="ico-qq"></i></a></li>
      </ul>
   </div>
</div>
<div class="header">
   <div class="inner">
      <h1 class="logo"><a href="/images/rah/仁爱华 - www.rahcb.com.htm">仁爱华</a></h1>
      <span class="toptxt"></span>
      <div class="topsearch">
        <div class="lg">
          <a href="http://www.rahcb.com/pages/team4">在线应聘</a>
          &nbsp;&nbsp;
          <a href="http://clients.cajcare.com/" target="_blank">客户登录</a>
        </div>
          <form action="http://www.rahcb.com/news">
             <input class="search-ipt" type="text" value="SEARCH" name="q">
             <input class="search-btn" type="submit" value="搜索">
          </form>
      </div>

      <ul class="nav">
         <!-- <li><a class="m" href="/">首页</a></li> -->
         <li><a class="m" href="http://www.rahcb.com/services">服务产品</a>
             <div class="submenu">
                <span class="hd"></span>
                <ul>
                   <li><a href="http://www.rahcb.com/services/1">服务理念</a></li>
                   <li><a href="http://www.rahcb.com/services/2">服务内容</a></li>
                   <li><a href="http://www.rahcb.com/services/3">服务流程</a></li>
                   <li><a href="http://www.rahcb.com/services/4">价格收费</a></li>
                </ul>
                <span class="ft"></span>
             </div>
         </li>

         <li><a class="m" href="http://www.rahcb.com/pages/team1">专家团队</a>
           <div class="submenu">
              <span class="hd"></span>
              <ul>
                <li><a href="http://www.rahcb.com/pages/team1">我们的团队</a></li>
                 <li><a href="http://www.rahcb.com/pages/team1">我们如何工作</a></li>
              </ul>
              <span class="ft"></span>
           </div>
         </li>

         <li><a class="m" href="http://www.rahcb.com/pages/about_rah">口碑案例</a>
           <div class="submenu">
              <span class="hd"></span>
              <ul>
                <li><a href="http://www.rahcb.com/pages/about_rah">个体客户</a></li>
                <li><a href="http://www.rahcb.com/pages/international">家庭客户</a></li>
              </ul>
              <span class="ft"></span>
           </div>
         </li>

         <li><a class="m" href="http://www.rahcb.com/networks">俱乐部</a></li>
         
         <li><a class="m" href="http://www.rahcb.com/pages/about_rah">品牌故事</a>
           <div class="submenu">
              <span class="hd"></span>
              <ul>
                <li><a href="http://www.rahcb.com/pages/about_rah">关于我们</a></li>
                <li><a href="http://www.rahcb.com/pages/international">企业文化</a></li>
              </ul>
              <span class="ft"></span>
           </div>
         </li>
      </ul>
   </div>
</div>
<!-- header end -->

<div class="index-layout">
   <%= yield %>
</div>

<!-- footer -->
<%= render "shared/footer" %>

</body>
</html>
